@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0;
}

/* Light mode */
:root {
  --background: theme(colors.blueM);
  --foreground: black;

  --sun: theme(colors.sun);
  --shade: theme(colors.shade);

  h2 {
    @apply font-heavy;
  }
  h3 {
    @apply text-xl font-heavy;
  }
}

/* Dark mode overrides */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: theme(colors.dark.gray);
    --foreground: white;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: theme(fontFamily.avenir), Arial, Helvetica, sans-serif;
}

@layer components {
  .offset-border {
    @apply after:absolute after:left-[14px] after:top-[10px] after:block;
    @apply after:border-4 after:border-orange after:border-l-transparent after:border-t-transparent;
  }

  .sensor-info-shadow {
    @apply shadow-[5px_15px_10px_var(--background)];
  }
}

/* Leaflet */

.leaflet-container {
  @apply h-full w-full;
}

.leaflet-popup-content-wrapper {
  background-color: red;
}
